body {
  background-color: lightslategray;
}

h1{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  box-shadow: 5mm;
}

main{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  
}



p1 {
  border: 20px orange;
  padding: 50px;
  margin: 10px;
  font-size: 25px;
  }

p2 {
  border: 20px orange;
  padding: 50px;
  margin: 10px;
  font-size: 25px;
}

p3{
  border: 20px orange;
  padding: 50px;
  margin: 10px;
  font-size: 25px;
}

h2 {
  font-size: 30px;
}

#albums {
  border-style:groove;
  border-color: black;
  border-width: 0.25rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  padding: 1rem 2rem;
  font-family: Courier New;
  font-weight: bold;
  float: none;
  align: center;
}

li{
  list-style: decimal;
}