body {
  background-color: lightslategray;
}

h1 {
text-align: center;
font-size: 2rem;
}

p3{
  padding-top: 1rem;
  border-top: 1rem;
  margin-bottom: 2rem;
}

#albums {
  border-style:groove;
  border-color: black;
  border-width: 0.25rem;
  margin-bottom: 5rem;
  margin-right: 15rem;
  padding: 0ch;
  font-family: Courier New;
  font-weight: bold;
  float: none;
  align: center;
}

li{
list-style:decimal;

}
